/* Some general styling */
body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

div {
  display: block;
}

h1, h4 {
  font-weight: bold;
  display: block;
}

/* header & logo styling */
.flex-header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.66em 0px 0.66rem 0rem;
}

.logo-header {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-left: 14vw;
}

.logo-header img {
  height: 1.5rem;
}

.logo-header span {
  padding-left: 1rem;
  font-size: 1.2em;
}

/* This is the banner and headline styling */
.banner {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 25rem;
}

.banner-box {
  display: flex;
  padding-left: 14vw;
  opacity: 0.9;
  position: relative;
}

.banner-headline {
  position: relative;
  top: 9rem;
  width: 20rem;
  padding: 2rem 3rem;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.banner-headline h1 {
  font-size: 2rem;
  line-height: 1.2em;
  margin: .25rem 0px;
}

/* Nav bar starts here */
nav {
  background-color: firebrick;
  color: white;
  display: block;
}

a, a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  padding: 1.5rem;
}

.nav-mobile {
  display: none;
}

/* Smartphones ----------- */
@media only screen and (max-width: 470px) {

  .banner-box {
    width: 100%;
    line-height: 1.5em;
    top: 10em;
  }

  .banner-headline {
    width: 100%;
  }

  .banner-headline h1{
    font-size: 1.1em;
    margin-bottom: 0em;
  }

  .banner-headline h4 {
    font-size: .85em;
  }

  .nav-mobile li {
    display: none;
  }

  .item-img {
    width: 40vw;
  }

  .business-info {
    margin-left: 0px;
  }
}

/* Media query for screens smaller than 1024px */
@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  .nav-mobile {
    display: flex;
    justify-content: space-around;
    padding: 2vh;
  }

  .nav-bar {
    display: none;
  }

  .banner-box {
    padding: 0px;
  }

  .glasses {
    display: none;
  }

  .logo-header {
    margin-left: 1vw;
  }
}

/* Body content styling Flex*/
.body-box {
    max-width: 98vw;
}

.items {
  display: flex;
  justify-content: space-between;
  margin: 3em 15vw;
  max-width: 90vw;
  max-height: 30vh;
}

.item-img {
  display: flex;
  border: .25em solid black;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0px;
  width: 20vw;
  height: 20vh;
}

.item-img img {
  max-width: 80%;
  max-height: 80%;
}

.caption {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
}

/* Location and hours of operation */
.business-info {
  display: flex;
  justify-content: space-between;
  margin: 6rem 15vw 0px 15vw;
}

.info {
  width: 35%;
}

.info .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1em 2em;
}

/* Footy McFoot-Foot */
footer {
  height: 10rem;
  margin-top: 4rem;
  background-color: black;
}

footer div {
  margin-left: 15vw;
  color: white;
  padding-top: 5rem;
}
