body {
  font-family: helvetica, sans-serif;
}

div {
  display: block;
}

.flex-header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 1em .2em;
}

.logo-header {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.logo-header img {
  height: 15%;
  width: 15%;
}

.logo-header span {
  padding-left: 1em;
  font-size: 1.25em;
}

.banner {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  height: 25em;
}

.banner-text {
  position: relative;
  top: 10em;
  padding: 2em 3em;
  background-color: black;
  color: white;
  display: flex;
  align-content: center;
}
