body {
  font-family: helvetica, sans-serif;
}

div {
  display: block;
}

h1, h4 {
  font-weight: bold;
  display: block;
}

.flex-header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 1em .2em;
}

.logo-header {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-left: 10em;
}

.logo-header img {
  height: 15%;
  width: 15%;
}

.logo-header span {
  padding-left: 1em;
  font-size: 1.25em;
}

.banner {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 30em;
}

.banner-box {
  max-width: 960px;
  margin-left: 10em;
  opacity: 0.9;
}

.banner-headline {
  position: relative;
  top: 10em;
  width: 20em;
  padding: 2em 3em;
  background-color: black;
  color: white;
  text-transform: uppercase;
}

.banner-headline h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin: .75em 0px;
}
